<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Gestion des membres" %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/membres.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">
<div class="grid-container">
    <header class="header">
      <div id="tableau_bord">
        <div style="font-size: larger; font-weight: bolder;"><p>Getion des membres</p></div>
        <div style="font-size: smaller; font-weight:lighter; font-style: italic;">
          <p>Coopérative agricole</p>
        </div>
      </div>
      <div class="alignement">
        <div id="etat">
          <span class="material-icons-outlined">wifi</span>
          <p style="padding-left: 5px;">En ligne</p>
        </div>
        <div id="notification">
          <span class="material-icons-outlined">notifications</span>
          <div style="width : 2px; height: 2px; padding-left: 1px;border: 5px solid red; border-radius: 100%; background-color: red;">  </div>
        </div>
        <div id="admin">
          <span class="material-icons-outlined" style="color: rgb(2, 27, 95);">account_circle</span>
          <p style="padding-left: 5px;">Admin</p>
        </div>
      </div>
    </header>
    <aside class="sidebar">
      <div id="entete" style="height: 11%; border-bottom: 0.1px solid rgb(126, 126, 126);">
        <div style="width: 20%; height: 65%; background-color: rgb(177, 186, 0); border-radius: 50%;">
        </div>
        <a href="/">
          <div id="entete_ecrit">
            <p style="font-size: larger; font-weight: bolder;">GestCoop</p>
            <p style="font-size: smaller; font-weight:lighter; font-style: italic; color: aqua;">
              Gestion Coopérative</p>
          </div>
        </a>
      </div>
      <div id="boutons">
        <a href="/membres">
          <div class="rubrique" id="membre">
            <span class="material-icons-outlined">group</span>
            <p style="padding-left: 5px;">Membres</p>
          </div>
        </a>
        <a href="#">
        <div class="rubrique" id="parcelle">
          <span class="material-icons-outlined">area_chart</span>
          <p style="padding-left: 5px;">Parcelle</p>
        </div>
        </a>
        <a href="/productions">
        <div class="rubrique" id="production" style=" border : 1px solid rgb(26, 83, 206);border-radius: 2.5%;
          background-color: rgb(26, 83, 206);">
          <span class="material-icons-outlined">grain</span>
          <p style="padding-left: 5px;">Productions</p>
        </div>
        </a>
        <a href="#">
        <div class="rubrique" id="vente">
          <span class="material-icons-outlined">shopping_cart</span>
          <p style="padding-left: 5px;">Ventes</p>
        </div>
        </a>
        <a href="#">
        <div class="rubrique" id="cotisation">
          <span class="material-icons-outlined">attach_money</span>
          <p style="padding-left: 5px;">Cotisations</p>
        </div>
        </a>
        <a href="#">
        <div class="rubrique" id="tache">
          <span class="material-icons-outlined">task</span>
          <p style="padding-left: 5px;">Tâches</p>
        </div>
        </a>
        <a href="#">
        <div class="rubrique" id="document">
          <span class="material-icons-outlined">folder</span>
          <p style="padding-left: 5px;">Documents</p>
        </div>
        </a>
        <a href="#">
        <div class="rubrique" id="rapport">
          <span class="material-icons-outlined">article</span>
          <p style="padding-left: 5px;">Rapports</p>
        </div>
        </a>
        <a href="#">
        <div class="rubrique" id="parametre">
          <span class="material-icons-outlined">settings</span>
          <p style="padding-left: 5px;">Parametres</p>
        </div>
        </a>
      </div>
      
    </aside>
    <main class="main-container">
      <div class="alignement">
        <div id="tableau_bord">
          <div style="font-size: larger; font-weight: bolder;"><p>Membres (10)</p></div>
          <div style="font-size: smaller; font-weight:lighter; font-style: italic;">
          <p>Gestion des membres de la coopérative</p>
          </div>
        </div>
        <div class="alignement" id="rubrique" style="background-color: rgb(13, 51, 222);border-radius: 3%;">
          <span class="material-icons-outlined">add</span>
          <button type="submit" class="text-white px-4 py-1" id="myBtn">Nouvelle production</button>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-3 mb-2 mt-2">
        <div class="p-4 bg-white shadow rounded text-center">
          <span class="material-icons-outlined" style="color: blue;">grain</span>
          <p class="text-gray-500">Production totale</p>
          <p class="text-3xl font-bold">10</p>
        </div>
        <div class="p-4 bg-white shadow rounded text-center">
          <span class="material-icons-outlined" style="color: green;">add_box</span>
          <p class="text-gray-500">En stock</p>
          <p class="text-3xl font-bold">10</p>
        </div>
        <div class="p-4 bg-white shadow rounded text-center">
          <span class="material-icons-outlined" style="color: orange;">numbers</span>
          <p class="text-gray-500">Type de culture</p>
          <p class="text-3xl font-bold">10</p>
        </div>
      </div>
      <div class="alignement" style="padding-top: 1%; padding-bottom: 1%;">
        <div style="width: 20%;">
          <select style="padding: 3%; border-radius: 3%;">
            <option>Toutes les cultures</option>
            <option>Actif</option>
            <option>Inactif</option>
          </select>
        </div>
      </div>
      <div class="align_membres" style="padding-top: 1%; padding-bottom: 1%;">
        <table class="w-full bg-white">
        <tbody>
            <tr class="border-y bg-gray-200">
                <td>Culture</td>
                <td>Producteur</td>
                <td>Poids</td>
                <td>Qualité</td>
                <td>Stockage</td>
                <td>Date recolte</td>
                <td>Statut</td>
            </tr>
            <% production.forEach(m => { %>
            <tr class="border-y">
                <td class=""><%= m.id %></td>
                <td class=""><%= m.nom %></td>
                <td class=""><%= m.prenom %></td>
                <td class=""><%= m.telephone %></td>
                <td class=""><%= m.nom %></td>
                <td class=""><%= m.prenom %></td>
                <td class=""><%= m.telephone %></td>
                </td>
            </tr>
            <% }) %>
        </tbody>
        </table>
      </div>
      <!-- Modal -->
      <div id="myModal" class="modal">
        <!-- Contenu du Modal -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Ajouter membre</p>
          <div class="elements_modal_col">
            <div class="elements_modal_col">
              <label>Nom et prénoms</label>
              <input name="nom" type="text" placeholder="Entrer nom et prénoms">
            </div>
            <div class="elements_modal_col">
              <label>Numéro d'adhérent</label>
              <input name="nom" type="text" placeholder="Entrer numéro d'adhérent">
            </div>
            <div class="elements_modal_ligne" style="margin: 0;">
              <div class="elements_modal_col">
                <label>Sexe</label>
                <input name="nom" type="text" placeholder="Entrer sexe">
              </div>
              <div class="elements_modal_col">
                <label>Age</label>
                <input name="nom" type="text" placeholder="Entrer age">
              </div>
            </div>
            <div class="elements_modal_col">
              <label>Numéro de Téléphone</label>
              <input name="nom" type="text" placeholder="Entrer numéro de téléphone">
            </div>
            <div class="elements_modal_col">
              <label>Adresse</label>
              <input name="nom" type="text" placeholder="Entrer adresse">
            </div>
            <div class="elements_modal_col">
              <label>Statut</label>
              <select>
                <option>Statut</option>
                <option>Actif</option>
                <option>Inactif</option>
              </select>
            </div>
          </div>
          <div class="elements_modal_ligne" id="bouton_ajout">
            <button id="bout_annuler">Annuler</button>
            <button id="bout_ajouter">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
      

</main>
    <footer>
    </footer>
    <script src="/js/script.js"></script>
    <script src="/js/membres.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dashboard.js"></script>
  </div>
</body>
</html>
